/* Grundlegende Stile */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    padding-top: 60px;
}

/* Header-Stil */
header {
    background: #76CBC7;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 70px; /* Passe die Höhe des Logos an */
    margin-right: 15px; /* Abstand zwischen Logo und Titel */
}

.subtitle {
    margin: 0;
    font-size: 1.2rem; /* Subtitel etwas kleiner als der Haupttitel */
    color: #ddd; /* Eine hellere Farbe für den Subtitel */
}

header h1 {
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Slideshow */
.slideshow {
    position: relative;
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
    padding: 0 20px;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    border-radius: 20px;
    margin: 0 auto; /* Zentrieren und etwas Abstand um das Bild herum */
    padding: 10px;
}

audio {
    margin-top: 10px;
}

/* Buttons für die Navigation */
.nav-btn {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%; /* Rund machen */
    width: 50px;       /* Breite der runden Schaltfläche */
    height: 50px;
    transform: translateY(-50%);
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .slideshow {
        max-width: 100%;
    }

    .nav-btn {
        font-size: 20px;
        padding: 8px;
    }
}
