@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');



/* Grundlegende Stile */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    padding-top: 60px;
}


.magischer-wald-titel {
    font-family: 'Patrick Hand', cursive;
    font-size: 2.5rem;
    text-align: center;
    margin: 10px 0;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Dezenter Schatten für Tiefe */
    transition: transform 0.3s ease-in-out;
}

.letter {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

/* Abwechselnde Farben für Buchstaben */
.letter:nth-child(1) { color: #ff6347; }  /* Tomatenrot für besseren Kontrast */
.letter:nth-child(2) { color: #ffd700; }  /* Goldgelb für Wärme und Helligkeit */
.letter:nth-child(3) { color: #88d8b0; }  /* Limettengrün für Frische und Kontrast */
.letter:nth-child(5) { color: #1e90ff; }  /* Kräftiges Hellblau, gut sichtbar */
.letter:nth-child(6) { color: #ffa07a; }  /* Korallenfarbe für Wärme */
.letter:nth-child(7) { color: #9370db; }  /* Lila für Kontrast und Vielfalt */
.letter:nth-child(8) { color: #ffb6c1; }  /* Hellrosa, aber immer noch gut lesbar */
.letter:nth-child(9) { color: #ff6f61; }  /* Limettengrün */
.letter:nth-child(10) { color: #ffd700; } /* Goldgelb */
.letter:nth-child(11) { color: #1e90ff; } /* Kräftiges Hellblau */
.letter:nth-child(12) { color: #9370db; } /* Lila */
.letter:nth-child(14) { color: #ff6347; } /* Tomatenrot */
.letter:nth-child(15) { color: #ffd700; } /* Goldgelb */
.letter:nth-child(16) { color: #ffa07a; } /* Limettengrün */
.letter:nth-child(17) { color: #1e90ff; } /* Kräftiges Hellblau */

/* Subtitel */
.magischer-wald-subtitel {
    font-family: 'Patrick Hand', cursive;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-top: -15px;
}

.space {
    display: inline-block;
    width: 5px; /* Passt den Abstand an */
}

/* Hover-Effekt für Buchstaben */
.letter:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

/* Responsive Anpassungen */
@media (min-width: 500px) and (max-width: 768px) {
    .magischer-wald-titel {
        font-size: 2rem;
        letter-spacing: 0.5px;
    }

    .magischer-wald-subtitel {
        font-size: 1.5rem;
    }

    .logo-container img {
        width: 60px;
        height: auto;
    }
}

@media (min-width: 300px) and (max-width: 500px) {
    .magischer-wald-titel {
        font-size: 1.6rem;
        letter-spacing: 0.2px;
    }

    .magischer-wald-subtitel {
        font-size: 1.2rem;
    }

    .logo-container img {
        width: 50px;
        height: auto;
    }
}

@media (max-width: 300px) {
    .magischer-wald-titel {
        font-size: 1rem;
        letter-spacing: 0.1px;
    }

    .magischer-wald-subtitel {
        font-size: .9rem;
    }

    .logo-container img {
        width: 60px;
        height: auto;
    }
}

/* Header-Stil */
header {
    background: #76CBC7;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 90px; /* Passe die Höhe des Logos an */
    margin-right: 25px; /* Abstand zwischen Logo und Titel */
}

.subtitle {
    margin: 0;
    font-size: 1.2rem; /* Subtitel etwas kleiner als der Haupttitel */
    color: #ddd; /* Eine hellere Farbe für den Subtitel */
}

header h1 {
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Slideshow */
.slideshow {
    position: relative;
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
    padding: 0 20px;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    border-radius: 20px;
    margin: 0 auto; /* Zentrieren und etwas Abstand um das Bild herum */
    padding: 10px;
}

audio {
    margin-top: 10px;
}

/* Buttons für die Navigation */
.nav-btn {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%; /* Rund machen */
    width: 50px;       /* Breite der runden Schaltfläche */
    height: 50px;
    transform: translateY(-50%);
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .slideshow {
        max-width: 100%;
    }

    .nav-btn {
        font-size: 20px;
        padding: 8px;
    }
}
